myvenv/
__pycache__/
static/img/original/
static/img/cropped/
static/img/youtube-logo2.png
*.pyc
.env
backup1.json
backup2.json
playlist_items.json
videos_dups.json
fetch_playlist.py
image.py
test.py
1.txt
output.txt
total_videos_count.txt